@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Web Application</h1>
    <p>This page contains good humor programming jokes running on the local host.</p>
</div>
